# This is a mount definition for a NFS share.

[Unit]
Description=
Requires=
After=
Before=

[Mount]
What=
Where=
Options=
Type=

[Install]
WantedBy=mutli-user.target
